<h4>Post details:</h4>
<br>

	<b style="font-size: 150%"><%= @post.title %></b>
	<br><br>
	<p><%= @post.content %></p>
	<p style="font-size: 85%"> Author: <%= @post.author %></p>
	<p style="font-size: 75%"> Created at: <%= @post.created_at %></p>

<br>
<h4>Comments:</h4>	
<br>
<% @comments.each do |com| %>
		<p>
		<i> <%= com.comment %> </i>
		<br>
		<br>
		<p style="font-size: 85%"> Author: <%= com.author %></p>
		<span style="font-size: 75%; color: #999">Added at: <%= com.created_at %></span>
		<hr />
<% end %>

<form action="/details/<%= @post.id %>" method="POST">
  <div class="form-group">
  	<input name="comment[author]" type="text" class="form-control" placeholder="Your name" value="<%= @c.author %>"> <br>
    <textarea name="comment[comment]" class="form-control" rows="2" placeholder="Tipe comment text here..." value="<%= @c.comment %>"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>	